.cof-pointer, a {
    cursor: pointer
}

.cof-mr0 {
    margin-right: 0
}

.cof-mr5 {
    margin-right: 5px
}

.cof-mr10 {
    margin-right: 10px
}

.cof-mr15 {
    margin-right: 15px
}

.cof-mr20 {
    margin-right: 20px
}

.cof-ml0 {
    margin-left: 0
}

.cof-ml5 {
    margin-left: 5px
}

.cof-ml10 {
    margin-left: 10px
}

.cof-ml15 {
    margin-left: 15px
}

.cof-ml20 {
    margin-left: 20px
}

.cof-mt0 {
    margin-top: 0
}

.cof-mt5 {
    margin-top: 5px
}

.cof-mt10 {
    margin-top: 10px
}

.cof-mt15 {
    margin-top: 15px
}

.cof-mt20 {
    margin-top: 20px
}

.cof-mb0 {
    margin-bottom: 0
}

.cof-mb5 {
    margin-bottom: 5px
}

.cof-mb10 {
    margin-bottom: 10px
}

.cof-mb15 {
    margin-bottom: 15px
}

.cof-mb20 {
    margin-bottom: 20px
}

.cof-pr0 {
    padding-right: 0
}

.cof-pr5 {
    padding-right: 5px
}

.cof-pr10 {
    padding-right: 10px
}

.cof-pr15 {
    padding-right: 15px
}

.cof-pr20 {
    padding-right: 20px
}

.cof-pl0 {
    padding-left: 0
}

.cof-pl5 {
    padding-left: 5px
}

.cof-pl10 {
    padding-left: 10px
}

.cof-pl15 {
    padding-left: 15px
}

.cof-pl20 {
    padding-left: 20px
}

.cof-pt0 {
    padding-top: 0
}

.cof-pt5 {
    padding-top: 5px
}

.cof-pt10 {
    padding-top: 10px
}

.cof-pt15 {
    padding-top: 15px
}

.cof-pt20 {
    padding-top: 20px
}

.cof-pb0 {
    padding-bottom: 0
}

.cof-pb5 {
    padding-bottom: 5px
}

.cof-pb10 {
    padding-bottom: 10px
}

.cof-pb15 {
    padding-bottom: 15px
}

.cof-pb20 {
    padding-bottom: 20px
}

.cof-m0 {
    margin: 0
}

.cof-m5 {
    margin: 5px
}

.cof-m10 {
    margin: 10px
}

.cof-m15 {
    margin: 15px
}

.cof-m20 {
    margin: 20px
}

.cof-p0 {
    padding: 0
}

.cof-p5 {
    padding: 5px
}

.cof-p10 {
    padding: 10px
}

.cof-p15 {
    padding: 15px
}

.cof-p20 {
    padding: 20px
}

.gray {
    color: #999
}

.bge {
    background: #eee
}

.bgd {
    background: #ddd
}

.bgc {
    background: #ccc
}

.tac {
    text-align: center
}

.tal {
    text-align: left
}

.tar {
    text-align: right
}

.cof-btns, .cof-btns.center {
    text-align: center
}

.valid-tips {
    position: absolute !important;
    height: 32px;
    line-height: 32px;
    background-color: #ffc;
    border: 1px solid #fcc;
    padding: 0 5px;
    display: none;
    z-index: 99999
}

textarea {
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre
}

.cof-sform table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 15px;
    white-space: nowrap
}

.cof-sform table.border {
    border: 1px solid #ddd;
    border-collapse: collapse
}

.cof-sform table.border td {
    border: 1px solid #ddd;
    padding: 5px 10px
}

.cof-sform input.small {
    width: 150px;
    display: inline-block
}

.cof-sform select.small {
    width: 148px;
    display: inline-block
}

.cof-sform input {
    width: 160px;
    display: inline-block
}

.cof-sform select {
    width: 158px;
    display: inline-block
}

.cof-sform input.middle {
    width: 260px
}

.cof-sform select.middle {
    width: 259px
}

.cof-sform input.large {
    width: 360px
}

.cof-sform select.large {
    width: 359px
}

.cof-sform input[type=radio], input[type=checkbox], input[type=button] {
    width: auto
}

.cof-sform .search-button {
    text-align: center;
    width: 250px;
    margin: 0 auto
}

.cof-sform .search-button .btn {
    width: 100px;
    margin: 0 5px
}

.cof-bread {
    background: #eee;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    color: #444
}

.cof-bread span {
    margin: 0 2px
}

.cof-bread span:before {
    content: ">";
    margin-right: 4px
}

.cof-bread span a {
    color: #444;
    text-decoration: none
}

.cof-edit-block .block {
    background: #eee;
    border: 10px solid #eee
}

.cof-edit-block .title {
    font-weight: 700
}

.cof-edit-block .content {
    padding: 15px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px
}

.cof-btns {
    padding: 10px 0
}

.cof-btns.left {
    text-align: left
}

.cof-btns.right {
    text-align: right
}

.cof-btns .btn {
    margin: 0 5px
}

.cof-btns.left .btn {
    margin-right: 10px
}

.cof-btns.right .btn {
    margin-left: 10px
}