<!DOCTYPE html>
<html lang="en">
<body class="no-skin">
<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                项目管理
            </li>
            <li class="active">项目列表</li>
        </ul><!-- /.breadcrumb -->
    </div>
    <div class="page-content">
        <form id="searchForm" class="cof-sform" role="form">
            <table>
                <tr>
                    <td>项目名称:</td>
                    <td>
                        <input type="text" id="projectName" name="projectName" class="form-control input-small"/>
                    </td>
                </tr>
            </table>
        </form>
        <div class="widget-main">
            <div class="search-button">
                <button type="button" id="search" class="btn btn-success btn-sm">查询</button>
            </div>
        </div>
        <div class="table-header">
            项目列表
        </div>
        <div>
            <table id="project-table" class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th width="50" style="text-align: center">选择</th>
                    <th>项目名称</th>
                    <th>项目描述</th>
                    <th>状态</th>
                    <th>新建时间</th>
                    <th>新建人</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="/js/project/list.js"></script>
</body>
</html>
