<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="loadJs">
    <script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/ace/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/ace/js/ace-elements.min.js"></script>
    <script type="text/javascript" src="/ace/js/ace.min.js"></script>
    <script type="text/javascript" src="/js/utils.js"></script>
    <script type="text/javascript" src="/ace/js/ace-extra.min.js"></script>
    <script type="text/javascript" src="/ace/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/ace/js/dataTables.select.min.js"></script>
    <script type="text/javascript" src="/js/conf.js"></script>
    <script type="text/javascript" src="/js/pagination.js"></script>
</div>
</body>
</html>